# GNUstep
obj/
shared_obj/
*.framework/
*.bundle/
*.debug
*.profile

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserdata
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods / Carthage / fastlane leftovers
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
.DS_Store
*~
*.o
*.lo
*.la
*.a
core
