{
  ApplicationName = "XFormsDesigner";
  ApplicationDescription = "XHTML+XForms form designer";
  ApplicationRelease = "0.1";
  NSExecutable = "XFormsDesigner";
  NSRole = "Editor";
  NSPrincipalClass = NSApplication;
  NSMainNibFile = "MainMenu";
  NSTypes = (
    {
      NSName = "XHTML+XForms";
      NSHumanReadableName = "XHTML+XForms Document";
      NSUnixExtensions = ( "xhtml", "xml", "xf" );
      NSRole = Editor;
      NSDocumentClass = XFDDocument;
    }
  );
}
