<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>XFormsDesigner</string>
	<key>CFBundleExecutable</key>
	<string>XFormsDesigner</string>
	<key>CFBundleIdentifier</key>
	<string>org.gnustep.XFormsDesigner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XFormsDesigner</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xhtml</string>
				<string>xml</string>
				<string>xf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XHTML+XForms Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>NSDocumentClass</key>
			<string>XFDDocument</string>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 the XFormsKit contributors. LGPL 2.1.</string>
</dict>
</plist>
