{
    ApplicationName = "XFormsViewer";
    ApplicationDescription = "XHTML+XForms document viewer";
    ApplicationRelease = "0.1";
    NSExecutable = "XFormsViewer";
    NSPrincipalClass = NSApplication;
    NSRole = Editor;
    NSTypes = (
        {
            NSName = "XHTML+XForms";
            NSHumanReadableName = "XHTML+XForms Document";
            NSUnixExtensions = ( "xhtml", "xml", "xf" );
            NSRole = Editor;
            NSDocumentClass = XFFormDocument;
        }
    );
}
